@import "tailwindcss";

@theme {
  --color-brand-dark: #052e16;
  --color-brand-700: #15803d;
  --color-brand-600: #16a34a;
  --color-brand-500: #22c55e;
  --color-brand-400: #4ade80;
  --color-brand-300: #86efac;
  --color-brand-50: #f0fdf4;

  --font-heading: var(--font-poppins), sans-serif;
  --font-body: var(--font-inter), sans-serif;
}

body {
  color: #111827;
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
}